

/* section2 */

#section2 {
  height: 80vh;
  width: 80vh;
  display: block;
}



#section2 .box1 .image h1,
#section2 .box1 .image p  {
  width:50%;
}

#section2 .box1 .image p {
  margin-top: 1rem;
  width:30%;
}

#section2 .box2  {
  height: 40%;
  flex-direction: row;
}

#section2 .box2 .pricebox1,
#section2 .box2 .pricebox2 {
  margin: 1rem;
}

#section3 {
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}